.episodeCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 84%;
    text-align: justify;
    margin-left: 8vw;
}

.episodeCard p {
    font-size: 14.5px;
    margin-top: -1px;
    margin-bottom: -1px;
}

.seriesInfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 7vw;
}

.cancelSeries {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 38px;
    height: 38px;
    border: none;
    border-radius: 50%;
    background: black;
    color: white;
    border: 1px solid white;
    font-size: 1rem;
    cursor: pointer;
    z-index: 10;
    backdrop-filter: blur(10px);
}

.seriesPageImage {
  height: 33vh;
  width: 100%;
  overflow: hidden;
}
